{% extends 'base.html' %}


{% block title %}
    Algoritmos
{% endblock title %}
{% block content %}

<p>Estamos en la fecha: {{obtener_fecha}}</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Q5T0QtuI5Lc?si=blaQdplQFxPlK5sj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
{% endblock content %}