<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primera Plantilla</title>
</head>
<body>
    {% include "barra.html" %}
    <h1>Documento con primera Plantilla</h1>
   
    El nombre del profesor es: {{nombre_profesor | title}} y su edad es {{edad}}. Fecho  el: {{fecha}}
    <p>{{materias.1}}</p>
    
    {# Comentario de una sola linea #}
    
    {% comment %} 
        Estos es un comentario de varias lineas
    {% endcomment %}
    
     <p>
        <ul>
                {% if materias  %}
                    {% for materia in materias  %}
                    <li>{{materia}}</li>
                    {% endfor %}
                {%else%}
                    <p>El docente no tiene asignadas materias</p>
                {% endif %}
            
        </ul>
    </p>
    
    
    {% if nombre_profesor == "Omar" %}
        <p>El curso lo imparte el profesor titulado</p>
    {% else %}
        <p>El curso lo imparte el profesor suplente</p>
    {% endif %}
        
    
    <p>
        El docente impute formacion en las aulas
        <ol>
        {% for aula in aulas %}
            <li>{{aula}}</li>    
        {% endfor %}
        </ol>
    </p>
    
    <p>
            
    </p>
    
</body>
</html>