{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio</title>
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    
</head>
<body>
    <img src="{% static './img/back.png' %}" id="img">
    <div class="intro">
        <h3>{{inicio}}</h3>
        <p id="introduction">I am Isaac David Pallares Maldonado, a 19-year-old with a deep passion for programming and software development. Throughout my journey, I have acquired knowledge in a variety of languages and technologies that allow me to approach development projects with confidence and creativity.</p>
    </div>
    <header>
        <a href="{% url 'principalEn' %}" class="logo">Isaac</a>
            <ul>
                <div id="flags" class="flags">
                    <div class="flags__item" data-language="en">
                        <a href="{% url 'principalEn' %}"><img src="{% static './img/us.svg' %}" alt=""></a>
                    </div>
                    <div class="flags__item" data-language="es">
                        <a href="{% url 'principal' %}"><img src="{% static './img/co.svg' %}" alt=""></a>
                    </div>
                </div>
                <li><a href="{% url 'principalEn' %}" class="active">Main</a></li>
                <li><a href="{% url 'portfolioEn' %}">Portfolio</a></li>
                <li><a href="{% url 'contactoEn' %}">Contacts</a></li>
            </ul>
    </header>

</body>
</html>