body{
    font-family:'Segoe UI';
    background-color: rgb(207, 220, 228);
}
table{
    margin:1%;
    margin-left: 20%;
}
.title{
    background-color: rgb(119, 152, 172);
    margin-top: -8px;
    padding: 30px;
    text-transform: uppercase;
    
}
td{
    background-color: rgb(75, 107, 133);
    text-align: center;
    border-radius: 10px;
    border: solid;
}

.precios{
    font-weight: bold;
}

img{
    border-radius: 10px;
    height: 200px;
    width: 370px;
    border-color: aliceblue;
    border: solid;
    transition: all 300ms;
}
img:hover{
    transform: scale(1.04);
}
.link{
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    
}
a{
    text-decoration: none;
    color: rgb(119, 152, 172);
}