body{
    font-family:'Segoe UI';
}
table{
    margin:1%;
    margin-left: 20%;
}
.title{
    background-color: rgb(119, 152, 172);
}
td{
    background-color: rgb(75, 107, 133);
    text-align: center;
    border-radius: 10px;
    border: solid;
}

.precios{
    font-weight: bold;
}

img{
    border-radius: 10px;
    height: 200px;
    width: 370px;
    border-color: aliceblue;
    border: solid;
}

.link{
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    
}
a{
    text-decoration: none;
    color: rgb(119, 152, 172);
}