*{
    font-family:sans-serif;
}
body{
    margin: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.menubar{
    align-items: center;
    float: right;
    background-color: #2a9fea;
}
header{
    margin-bottom: 60px;
    padding-bottom: 100px;
    background-color: #264a61;
}
.inicio{
    font-size: 15px;
    float: left;
    margin: 30px;
    color: #c5d7e2;
    font-size: 20px;
    font-weight: bold;
}
header nav{
    float: right;
    line-height:100px;
    justify-content: left;
}

header nav a:hover {
	color:#ffffff;
    transition: 300ms;
    border-radius: 50px;
    border: solid;
    border-color: #264a61;
}

header nav a:active{
    background-color: #418bb9;
}

header nav a{
    display:inline-block;
	color: #c5d7e2;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:17px;
	font-weight:bold;
	margin-right: 100px;
}

hr {
    width:100px;
    border: 1px solid #2a9fea;
}
hr:hover{
    transition: 300ms;
    width: 200px;
}
.imgUser{
    width: 200px;  
    display: block;
}
.nombre{
    text-align: center;
}
.row{
    font-size: 20px;
    margin: 10px;
    position:disp;
    margin: 0px;
}

.presentacion{
    text-align: center;
}
.datatitle{
    color: #264a61;
}
ul{
    margin-left: 26%;
    list-style-type: none;
}
li{
    text-align: center;
    float:inline-start;
    margin-top: 5%;
    margin-left: 5%;
    
}
li:hover{
    transition: 300ms;

    background: hsla(221, 59%, 75%, 1);

    background: linear-gradient(90deg, hsla(221, 59%, 75%, 1) 0%, hsla(216, 40%, 58%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(221, 59%, 75%, 1) 0%, hsla(216, 40%, 58%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(221, 59%, 75%, 1) 0%, hsla(216, 40%, 58%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9BB2E5", endColorstr="#698CBF", GradientType=1 );
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #264a61;
    color: aliceblue;
}

.datos{
    position: relative;
    left: 25px;
}
.business{
    text-align: center;
    
}

.frameworks{
    text-align: center;
}

.idiomas{
    text-align: center;

}

.estudiosgenerales{
    position: relative;
    right: 160px;
}

.datoscontactos{
    text-align: center;
    margin-top: 50px;
    color: white;
    position: relative;
    left: 40em;
}

footer{
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #264a61;
    margin-top: 100px;
    margin-bottom: 0px;
}

.contacto{
    text-align: center;
    padding-top: 30px;
    color: white;
}

form .box{
    display: flex;
    justify-content: space-between;
}

.field .item{
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid #0ef;
    outline: none;
    border-radius: 6px;
    font-family: 16px;
    color: #ededed;
    margin: 12px 0;
}